# Compiled executables
*.exe
*.out

# Object files
*.o
*.obj

# Static and dynamic libraries
*.a
*.lib
*.so
*.dll
*.dylib

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
compile_commands.json
Makefile

# Build directories
build/
bin/

# Visual Studio Code
.vscode/

# JetBrains IDEs
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db